.nav-links {
  max-width: 2000px;
}

.nav-links a {
  margin: 0 30px;
}

.contact-btn {
  background-color: var(--contacts-btn-color);
  padding: 11px 25px;
  border-radius: 4px;
}

.contact-btn:hover {
  background-color: var(--contacts-btn-hover);
}

.intro-part {
  width: 100vw;
  max-width: 2000px;
  position: relative;
  background: var(--bg-gradient);
}

.intro-text-wrap {
  width: 50%;
  display: flex;
  justify-content: center;
  margin: 0 30px 0;
  z-index: 2;
}

.intro-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

.intro-text * {
  margin: 15px 0;
}

.intro-text h2 {
  font-size: 40px;
}

.details-btn {
  background-color: var(--details-btn-color);
  background: var(--details-btn-gradient);
  transition: var(--hover-transition);
  padding: 15px 20px;
  border-radius: 30px;
}

.details-btn:hover {
  background: var(--details-bg-hover);
}

.joystick-wrap {
  width: 30%;
  max-width: 2000px;
}

#joystick {
  width: 350px;
  position: absolute;
  top: -100px;
  right: 200px;
}

#unity-logo, #cry-logo, #unreal-logo {
  position: absolute;
  width: 70px;
}

#unity-logo {
  top: 200px;
  right: 550px;
}

#cry-logo {
  top: 70px;
  right: 450px;
}

#unreal-logo {
  width: 40px;
  top: 80px;
  right: 250px;
}

.trending-section-title {
  margin: 180px 180px 0;
  display: flex;
  justify-content: space-between;
}

.see-all-btn {
  background: var(--see-all-btn-bg);
  padding: 7px 25px;
  border-radius: 5px;
}

.trending-games-info {
  display: flex;
  justify-content: center;
  margin: 0 0 100px;
}

.games-preview-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.preview-description * {
  margin: 0 5px;
}

.preview-description {
  display: flex;
  align-items: center;
}

.games-preview {
  width: 200px;
  margin: 20px 0;
}

.flame-img {
  width: 15px;
}

.big-banner-section-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.big-banner-section {
  width: 40%;
  align-self: flex-start;
  margin: 0 0 40px 170px;
}

.big-banner-section * {
  margin: 20px 0;
}

.big-banner-section h5 {
  font-size: 18px;
  text-align: start;
}

#big-banner {
  width: 950px;
  margin: 0 0 100px;
}

.services {
  background-image: url(../img/Rectangle\ 5.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  max-width: 2000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 0;
}

.services-text {
  text-align: center;
  width: 60%;
  margin: 20px 0;
}


.services-preview-wrap {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 200px;
  margin: 50px 0;
}

.services-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.services-preview * {
  margin: 10px 30px;
}

.services-img, .arrow-svg {
  width: 30px;
}

.services-img {
  background-color: var(--services-img-bg);
  border-radius: 50px;
  padding: 10px;
}

.recent-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0 50px;
}

.recent-projects h5 {
  margin: 20px 0;
}

.projects-preview {
  display: flex;
}

.projects-preview img {
  width: 300px;
  margin: 20px;
}

.preview-pt-2 img {
  width: 350px;
}

#small-preview {
  width: 200px;
}

.pre-footer {
  margin: 0 150px;
}

.pre-footer h5 {
  margin: 0 0 10px;
  text-align: start;
}

.subscription-wrap {
  background-color: var(--subscription-wrap);
  border-radius: 10px;
  padding: 40px 80px;
  align-items: center;
  justify-content: center;
}

.subscription-btn {
  background-color: var(--btn-color);
  border-style: none;
  border-radius: 5px;
  padding: 5px 10px;
  color: var(--main-taxt-color);
}

.input-wrap {
  display: flex;
}

.email-input {
  box-sizing: border-box;
  caret-color: var(--btn-color);
}

.email-input:focus {
  outline: none;

}